<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.healthcare.ehealthcard"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.healthcare.ehealthcard.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.healthcare.ehealthcard.TagIssuerActivity"
            android:label="@string/title_activity_tag_issuer"
            android:parentActivityName="com.healthcare.ehealthcard.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthcare.ehealthcard.LoginActivity" />
        </activity>
        <activity
            android:name="com.healthcare.ehealthcard.PatientActivity"
            android:label="@string/title_activity_patient"
            android:parentActivityName="com.healthcare.ehealthcard.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthcare.ehealthcard.LoginActivity" />
        </activity>
        <activity
            android:name="com.healthcare.ehealthcard.DoctorActivity"
            android:label="@string/title_activity_doctor"
            android:parentActivityName="com.healthcare.ehealthcard.LoginActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthcare.ehealthcard.LoginActivity" />
        </activity>
        <activity
            android:name="com.healthcare.ehealthcard.FormatTagActivity"
            android:label="@string/title_activity_format_tag"
            android:parentActivityName="com.healthcare.ehealthcard.TagIssuerActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.healthcare.ehealthcard.TagIssuerActivity" />
        </activity>
    </application>

</manifest>